[2020-07-23 05:18] vinayakkulkarni opened #60 "add vue 3 support using composition api"
... and possibly use TypeScript :)

[2020-07-23 12:55] vinayakkulkarni commented on #60
- reference: https://github.com/soal/vue-mapbox/issues/111#issuecomment-662985533

[2020-07-29 14:06] vinayakkulkarni opened #66 "refactor code using TypeScript"

[2020-09-11 08:33] ibmsoft opened #114 "missing required property "version""
![image](https://user-images.githubusercontent.com/26042/92893299-24c7ff00-f44c-11ea-81d0-338b8c33760e.png)

[code]

[2020-09-11 09:16] Kyle123 commented on #114
You're passing an empty object. to the `mapStyle` property - this should be a `String` or an object that conforms to the Mapbox Style Specification. The errors you are getting aren't errors for the map version, they're validation errors of the style object you've passed, the object should be in the format:
[code]
[Documentation](https://docs.mapbox.com/mapbox-gl-js/style-spec/root/)

I suspect tha

[2020-09-11 09:17] ibmsoft commented on #114
thanks,

[2020-09-11 09:17] #114 closed

[2020-09-25 00:33] diegogarciar opened #130 "package is empty"
Hello again, I was going crazy as I'm installing the package via npm i v-mapbox but its saying that the dependency was not found. 1 hour later, I realize that the package is actually empty

<img width="407" alt="Screen Shot 2020-09-24 at 18 32 01" src="https://user-images.githubusercontent.com/17276155/94213582-687f2780-fe94-11ea-9329-a9cf8883562c.png">

[2020-09-25 07:38] vinayakkulkarni commented on #130
Hmm. weird, I'll look into it.

If you look at the workflow, CI/CD has built the package and published it successfully

https://github.com/geospoc/v-mapbox/runs/1127972566

[2020-10-04 18:17] vchrisb opened #137 "max-bounds can be array or object"
The [max-bounds](https://v-mapbox.netlify.app/api/#props) property can be either array or LngLatBoundsLike object.
Currently only validated against arrray:
https://github.com/geospoc/v-mapbox/blob/main/src/components/map/options.js#L96

simple workaround:
`:max-bounds="maxBounds.toArray()`

[2020-10-04 22:08] vchrisb opened #139 "stop propagation of mouse click event for marker"
It looks like, that the marker click event is propagated to the the map and in my case unintentionally does also fire the click event on the map.
I can't find a way to stop propagating this event, as the `event` of the marker click does not have the `originalEvent` to call `stopPropagation()`.

Any idea?

[2020-10-05 12:41] vchrisb commented on #139
As a workaround I've put the click event handler not on the marker, but rather the icon with: `@click.stop="function"`

[2020-10-05 14:07] vinayakkulkarni commented on #137
- [x] fixed in #138

[2020-10-05 14:07] #137 closed

[2020-10-06 13:25] vinayakkulkarni commented on #130
unable to reproduce this. I was able to view the `dist` directory in the `node_modules/v-mapbox/`

[2020-10-06 13:25] #130 closed

[2020-10-22 05:11] woshikie opened #167 "Map not showing on release build"
As per title.
Tested on the following App.vue:
[code]

map works on `npm run serve`, `npm run build --mode development` but ***not*** on `npm run build`

***Edit:*** Changed test code

[2020-10-22 07:45] vinayakkulkarni commented on #167
[code]

seems you're importing the wrong package

[2020-10-22 09:17] woshikie commented on #167
Updated test code with suggestion. Still unable to see the map on release build

[2020-10-29 02:24] vvavepacket commented on #167
@vinayakkulkarni  I'm also facing the same issue. New release build. And map is not loading...

[2020-10-29 02:56] vvavepacket commented on #167
@vinayakkulkarni
I'm seeing 100% width and height being occupied, but still map is blank.  Do you have some samples where you tested this with latest build? I appreciate your help

![image](https://user-images.githubusercontent.com/8295642/97520066-c1991a00-1970-11eb-92ba-698e3a38d91d.png)

[2020-10-29 09:31] vinayakkulkarni commented on #167
@vvavepacket: can you reproduce this with a demo repo or codesandbox?

[2020-10-29 10:22] woshikie commented on #167
@vinayakkulkarni here you go https://github.com/woshikie/mapbox-bug-demo

[2020-10-29 21:23] lights0123 opened #174 "dist/v-mapbox.umd.js missing from published package"
The `main` key in the package.json is set to `dist/v-mapbox.umd.js`. However, that file does not exist, leading to:

[code]

[2020-10-29 21:29] lights0123 opened #175 "Publish source to npm"
Currently, source files are removed from the published build. However, things like [Nuxt Components](https://github.com/nuxt/components) can use them to automatically import components, with automatic tree-shaking configuration.

[2020-10-29 22:12] #174 closed

[2020-10-29 22:20] vinayakkulkarni commented on #175
I've fixed this in #179 & updated a codesandbox so that you can test it 😃

[![Edit v-mapbox-map-demo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/v-mapbox-map-demo-k1l1n?fontsize=14&hidenavigation=1&theme=dark)

Hmm, this can be a good feature but currently working on migrating the codebase to support vue 3. Hopefully by then Nuxt 3 will be out too :)

[2020-10-29 22:20] #175 closed

[2020-10-29 22:23] vinayakkulkarni commented on #167
@woshikie & @vvavepacket: I've fixed some minor issues, released a new version & have done a demo on codesandbox.

[![Edit v-mapbox-map-demo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/v-mapbox-map-demo-k1l1n?fontsize=14&hidenavigation=0&theme=dark)

[2020-10-29 22:23] #167 closed

[2020-10-29 22:51] woshikie commented on #167
I have updated [my repo](https://github.com/woshikie/mapbox-bug-demo) with the latest package and this is the output from my `npm run build`.

[dist.zip](https://github.com/geospoc/v-mapbox/files/5461659/dist.zip)

You can see for yourself that the map is not showing. It is showing, however, on debug builds, which we can see on CodeSandbox or `npn run serve`

If you don't have a development web se

[2020-10-30 01:38] vvavepacket commented on #167
@woshikie  @vinayakkulkarni

Thanks for the update, unfortunately the issue still stands...

I can confirm that release build is not working. I deployed it to my local web server and it doesn't work. I inspected the layout and it seems that the css files are not being loaded properly, as I can see the classes are not attached to the mapbox divs.

[2020-10-30 01:55] vvavepacket opened #181 "Release build not showing map"
Hello since the [ticket ](https://github.com/geospoc/v-mapbox/issues/167)has been closed and no longer be opened. Below is the bug and some root cause analysis

I can confirm that release build is not working. I deployed it to my local web server and it doesn't work. I inspected the layout and it seems that the css files are not being loaded properly, as I can see the classes are not attached to t

[2020-10-30 02:06] vvavepacket commented on #181
Welp, I just copied this css coming from this library to my main vue js file

[code]

and it worked.. Why was this not being autocopied when building my release? Other libraries/dependencies css are being copied over but not this library...

cc: @woshikie

[2020-10-30 06:16] woshikie commented on #181
Let me copy over from the other ticket in case @vinayakkulkarni missed it

I have updated my repo with the latest package and this is the output from my npm run build.

dist.zip

You can see for yourself that the map is not showing. It is showing, however, on debug builds, which we can see on CodeSandbox or npn run serve

If you don't have a development web server to run the files, you can use pyt

[2020-10-30 07:36] woshikie commented on #181
It seems that `"sideEffect"` in `package.json` controls if the css will be excluded.
I have made a pull request ( #182 ) to fix this.
More information about `"sideEffect"` in vuejs/vue-cli#4832

I also see that @vinayakkulkarni has suggested another alternate fix in woshikie/mapbox-bug-demo#1

I think #182 fix is better, imo.

[2020-10-30 07:37] vinayakkulkarni commented on #181
@woshikie & @vvavepacket: Kindly refer to this PR - https://github.com/woshikie/mapbox-bug-demo/pull/1, as this is a configuration issue but not an issue with `v-mapbox` per se

[2020-10-30 07:40] woshikie commented on #181
One of the commenters in the vue-cli issue quoted:

I believe we should reopen #182 or @vinayakkulkarni could author a similar patch.

[2020-10-30 07:57] vinayakkulkarni commented on #181
That's actually an issue with your vue repo which bundles the package using `vue-cli-service` right? not with the library per se. The library is built using rollup & not webpack anyways

[2020-10-30 08:07] woshikie commented on #181
This is the artifact built on this repo's main branch

[package.zip](https://github.com/geospoc/v-mapbox/files/5463727/package.zip)

We can see that in its `package.json` there is a line describing `"sideEffects": false`.
This line here stopped the bundle process from including the `css` files

[2020-10-30 08:36] #181 closed

[2020-11-25 16:59] helenezspeer opened #202 "Issue when removing component with multiple layers"
Thank you so much for maintaining this repo! We've been using our own fork of vue-mapbox, and we're hoping to contribute our issues and possibly also our solutions.

First: An issue was introduced in vue-mapbox 0.3.2 where removing a vue component that contained multiple mapbox layer components would remove only one of those layer components.

This is caused by a new condition in layerMixin.js, `b

[2020-12-01 17:59] whatcould commented on #181
This was an issue for me, importing the js via webpack. Not sure what the solution is internally, but it's still a problem.

Worked around it by manually adding the `.mgl-map-wrapper` css above into my project.

[2020-12-05 18:39] vvavepacket opened #212 "Fitting map bounds with markers"
Say I have 10 markers, how can I fit them into my map's bounding box? I can do it in vanilla JS like the following

[code]

But how can I do that in your vue js way? If its not possible to this with this library, how do we access the main mapbox objects so it can be manipulated in a non-reactive way?

[2020-12-05 20:32] vvavepacket opened #213 "Correct way to access actions"
Hello,

What is the correct way to access `actions`? I tried the following and its failing

[code]

![image](https://user-images.githubusercontent.com/8295642/101262771-09008c00-370f-11eb-84c3-46c39f68bb6e.png)

[2020-12-05 21:46] vvavepacket opened #214 "Custom Marker"
Hello, how does one create a custom marker (like a custom icon) using your library? How can we do it the reactive vue way?

I can do it in plain vanilla JS like what is specified [here](https://docs.mapbox.com/mapbox-gl-js/example/custom-marker-icons/), but I was curious what strategy would you recommend to support custom markers with `v-mapbox`?

[2020-12-05 21:46] #212 closed

[2020-12-05 21:47] vvavepacket commented on #212
Closing, we can use actions as specified in the documentation

[2020-12-05 21:47] vvavepacket commented on #213
Closing, we can use actions as specified in the documentation

[2020-12-05 21:47] #213 closed

[2020-12-07 16:36] helenezspeer opened #220 "How should I be contributing?"
I see that my issue and pull requests haven't been addressed or responded to. Am I contributing properly? Are you accepting contributions?

[2020-12-07 16:52] vinayakkulkarni commented on #220
Yea, we welcome contributions but currently the team is occupied with in-house projects.

I'll definitely take a look over the weekend.

[2020-12-07 19:48] helenezspeer commented on #220
I totally get it. Just wanted to make sure. Thank you.

[2020-12-09 14:42] ajinkya opened #223 "Consider moving to a fork on Mapbox GL JS 1.xx"
Can we shift to start using a fork instead of the main mapbox gl js library, now that the latter is no longer open source ?

There is already a request for bindings on the [maps-gl/maps-gl#18](https://github.com/maps-gl/maps-gl/issues/18)

[2020-12-09 17:21] vinayakkulkarni commented on #223
Yes we can.

[2020-12-09 20:18] ajinkya commented on #223
As per the latest updates on here [maps-gl/maps-gl/#21#issuecomment-741997120](https://github.com/maps-gl/maps-gl/issues/21#issuecomment-741997120)

Please also consider using this [https://github.com/MapLibre/maplibre-gl-js](https://github.com/MapLibre/maplibre-gl-js)

[2020-12-09 22:40] zakjan commented on #223
Possibly unpopular opinion, but it would be great to keep compatibility with both MapLibre and Mapbox. The library can be already passed with mapboxGl param.

[2021-01-26 13:10] enmust opened #254 "Popup missing option 'closeOnMove'"
Would be nice to have that 'closeOnMove' feature
https://docs.mapbox.com/mapbox-gl-js/api/markers/#popup

[2021-01-26 19:46] enmust commented on #254
Also would be nice to have 'focusAfterOpen'

[2021-01-29 10:27] #254 closed

[2021-02-22 02:47] Gtanghaibo opened #286 "In vue3 vite, can't run with this error"
![image](https://user-images.githubusercontent.com/15169083/108650794-5b29a000-74fb-11eb-9e2c-01bd2ddaa472.png)

[2021-02-23 19:44] jxlstudio opened #290 "Geojson layer disappears after changing the Map Style url"
I have a dropdown that changed the map style on change, but whenever I update the style, the boundaries of the outline (Geojson layer) I have pre-drawn disappears. Tried adding a watcher to add the layer back after the style changes, but did not work.

[code]

[2021-02-27 17:22] FrankySnow commented on #60
Hello !
Are you making any progress on this side ? I don't see any commit on the `refactor/vue-3` branch since november 2020.
Is the library already compatible with Vue 3 ?
Thanks !

[2021-03-06 20:23] stevegiorgi opened #305 "Reactive Marker State"
I don't know if this is necessarily an issue with the v-mapbox reactive state but I'm not certain either – I'm pulling marker locations from an API via a bounding box so that I only pull locations that are within the viewport.  I refresh this upon manipulating the map with new bounding box coordinates each time.  It pulls in all of the viewable markers beautifully.  I then added a check to do the

[2021-03-10 19:34] lights0123 opened #309 "Default marker offset should be [0, -14], not [0, 0]"
By default, [Mapbox creates](https://github.com/mapbox/mapbox-gl-js/blob/ef7b2cb243f983fef7482502021e26bda93896e2/test/unit/ui/marker.test.js#L20) markers with an offset of `[0, -14`]. However, this library makes it `[0, 0]`:

https://github.com/geospoc/v-mapbox/blob/f113c84fce01f5a0b2d204c00a32166a524da4f1/src/components/UI/Marker.vue#L45

This causes markers to not actually show the correct loca

[2021-03-31 18:17] matthewmorek opened #328 "[Compatibility] Support for SSR (Nuxt, VuePress, Gridsome)"
After trying to implement Mapbox using this component (as well as the original `vue-mapbox`), I got blocked by lack of support for SSR.

The component is so problematic for SSR that even when forced to load only on the client (safeguarding with `<ClientOnly/>` element in Gridsome and importing it via dynamic import, it's impossible to not have unhandled promise rejection errors while building the

[2021-04-06 08:44] tibz7 opened #331 "Layers don't react on source data changes"
I want to lazy load data in the source, otherwise it will slowdown too much the app at start up.
The layers must load these new data, but they dont react up. according to my understanding of the source code, they should because there is a watcher on the `source.data`

[code]

```this.$store.getters.getSelectedProvidersGeoJsonData``` returns the geojson based on some selections that happend in an o

[2021-04-06 23:40] vinayakkulkarni commented on #331
Can you pls create a codesandbox demo?

[2021-04-07 09:48] mikhi opened #332 "Streets displayed with dots - help wanted"
Hi,
I'm looking for some help / guidance.
Do you have any idea why the streets are rendered using dots?

![image](https://user-images.githubusercontent.com/1406293/113846603-51a08280-979f-11eb-8b38-4744792d4632.png)

The expected display is something like this:

![image](https://user-images.githubusercontent.com/1406293/113846989-b360ec80-979f-11eb-8162-fd4a574e4778.png)

Thanks,
Mihai

[2021-04-13 13:53] tibz7 commented on #331
Try to make a for loop with a couple of geojson layers, and then remove these layers ( by changing the :key for instance).
Only the first layer is removed from mapbox. the rest is staying. you can see them in `map.getStyle().layers`. they get never removed.

[2021-04-16 13:23] tibz7 opened #344 "[feature request] add a click event for the GlMap"
would be very useful to have a click event listener on the map., when any point on the map is clicked. with similar payload then on the layers.

[2021-04-19 04:00] jovicon commented on #332
Do you have this code in a repo to replicate the issue?

[2021-04-19 04:51] vinayakkulkarni commented on #332
If you store the map in store or as a reactive variable, you'll have this issue.

Simple solution is to store the map variable in a non-reactive variable:

https://codesandbox.io/s/k1l1n

[2021-04-20 07:00] Ecno92 opened #345 "trackResize is not giving good results"
I've just enabled `trackResize`. Which is enabling the mapboxgl js option to change the size of the map in case the browser window resizes.

However the default mapbox functionality is not good enough. When I quickly "drag" the window size from large to small, and back I get a result like this:

![Screenshot from 2021-04-20 08-52-04](https://user-images.githubusercontent.com/5213399/115350741-c323

[2021-04-22 21:58] FrankySnow commented on #60
@vinayakkulkarni bump on this

[2021-05-12 07:58] michisp commented on #328
Hey,
for Nuxt I've created a mapbox.js file inside the plugins folder which registers the Components i need.
Inside the nuxt.config.js I've added this plugin in client-mode. After that you have to add the css files to the layout, page or component and you are ready to use mapbox inside the <client-only>-tag

_/plugins/mapbox.js_
[code]

`plugins: [
    { src: '~/plugins/mapbox', mode: 'client' },

[2021-05-12 13:12] elmatou commented on #344
[code]
Works fine by me (even if the payload is a bit cumbersome.
What it is your looking for ?
@vinayakkulkarni or other maintainers: Why would we want other stuff than the genuine mapbox event in our listeners ?

[2021-05-12 13:41] elmatou opened #364 "What is the project roadmap"
Hi everyone, (@vinayakkulkarni )
I thank you for forking the original project and try to maintain it.

While trying to use it, I found that a lot of features from mapbox-gl are missing, reactivity is quite lacking. and some core concept seems to me a bit strange.

I'm willing to work on the lib, but I need to know if the following roadmap is acceptable to you, or if I'll have to fork the lib anoth

[2021-05-18 00:40] Maker-Mark commented on #364
@elmatou I'm here too to work on this. I think the original project was a great start. I just found this repo, and I'm glad to see people maintaining it. I have had to use the mapbox api more than the vue-mapbox api in the past few weeks.

For me, the first thing would be to add all of the mapbox-gl props. There are so many important ones missing (geolocate, dragEnd, and much more).

More watchers

[2021-05-18 00:44] Maker-Mark commented on #309
this looks like a good first issue. I'd be happy to knock that out.

[2021-05-18 00:47] Maker-Mark commented on #345
Yeah, it seems like everyone deals with this issue. I've found so many Stack Overflow posts on this issue. I would like to know the actual source of the issue. Does anyone know what this is from? For me, the map at first is just 200px, and i need to call map.resize() on `@load` on the map.

[2021-05-18 07:08] elmatou commented on #364
Hi @Maker-Mark,

I haven't got a response from geospoc/v-mapbox maintainer yet.

If I get no response I'm willing to fork the repo :
- It would be a community driven project (I currently need to switch from leaflet for an aerial navigation soft).
- I intent to stick to mapbox/maplibre API, no fancy features.

[2021-05-18 12:33] vinayakkulkarni commented on #364
Hey @elmatou & @Maker-Mark,

I plan to maintain this project (along with some of my co–workers here at @geospoc) and upgrade it to Vue 3 (with TS) as well as keep a Vue 2.x version (with TS). Currently been really packed with personal stuff (COVID related) and work (deliveries)

I do welcome community inputs & have merged few PRs already which I believe were add–ons to the project.

I'll be creati

[2021-05-18 12:34] vinayakkulkarni commented on #309
Feel free to open a PR @Maker-Mark. Contributions welcome 🎊

[2021-05-18 20:09] Maker-Mark commented on #364
@vinayakkulkarni Nice, I'd love to help to maintain this repo. I'll keep an eye out for the projects. Please @ me to get me involved on a ticket. Here to help!

[2021-05-19 11:21] elmatou commented on #364
@vinayakkulkarni & @Maker-Mark

I'm gonna PR some stuff, as soon as we validate a roadmap,
In the mean time, I'm gonna work on missing props or feature from the official API.

Do you really think TS is a game changer for a wrapper ?

[2021-05-19 16:35] Maker-Mark commented on #364
@elmatou No, I dont think TS is a game changer for the wrapper. I'd prioritize documentation and implementation of the remaining methods on the wrapper. We don't have some core functionality like `@geolocate` and `@ondragend` wrapped and documented.

[2021-05-19 20:12] Maker-Mark opened #378 "[bug/help] Need to import `mapbox.css` to see map"
I'm having issues getting the map to show up at all unless I manually import the v-mapbox css like so: `import "v-mapbox/dist/v-mapbox.css";`
I don't see this as part of the getting started guide. Is there something I'm missing?

When I do import the CSS this way, I get a parcel (v1) warning about the source map
`⚠️  Could not load existing sourcemap of "../node_modules/v-mapbox/dist/v-mapbox.css"

[2021-05-21 14:56] Maker-Mark opened #379 "[Bug] ReferenceError: _typeof is not defined when moving to `v-mapbox`"
When I move from using `vue-mapbox` to `v-mapbox` i'm seeing `ReferenceError: _typeof is not defined`. From doing some googling it looks like an issue where babel is trying to transpile code that is already transpired in v-mapbox. Is there something that I'm missing in the setup that would cause this to only happen with v-mapbox?

[2021-05-24 16:01] karol-bujacek opened #383 "Not accurate prop type for Marker component"
In the current code the type of `coordinates` prop is set to `Array` and this is not correct. Why?

Mapbox-gl is accepting for marker coordinates a `LngLatLike` object, which is described as ‘an array of two numbers representing longitude and latitude, or an object with lng and lat or lon and lat properties.’ (cited from https://docs.mapbox.com/mapbox-gl-js/api/geography/#lnglatlike)

That mean th

[2021-05-24 16:06] karol-bujacek commented on #378
@Maker-Mark, the `v-mapbox.css` file is mentioned in the code snipped in this section: https://v-mapbox.netlify.app/guide/#installation-2

You are right that it might be listed also in the previous snippet – it is easy to overlook it.

[2021-05-25 01:31] Maker-Mark commented on #378
@karol-bujacek Yes, I'm not using the package using the CDN, I'm using it in ES Modules.
should it be:
[code]
?

I'm not sure since when I use it directly, I see:
When I do import the CSS this way, I get a parcel (v1) warning about the source map
⚠️ Could not load existing sourcemap of "../node_modules/v-mapbox/dist/v-mapbox.css".

[2021-05-25 01:37] Maker-Mark commented on #383
I'm not sure about this. We should support both if we can. When it comes to working with LngLat, it's easy to mix it up. Especially if you wrote application logic that uses the other order arround.

At the same time, I dont think it makes sense to send in an object as a prop.
Instead, it would make more sense to send two props, lat and long, and have prop validation that ensures both are provided.

[2021-05-25 07:19] karol-bujacek commented on #383
@Maker-Mark , the point is that mapgox-gl is already accepting `LngLatLike` object and also v-mapbox is working correctly passing an `LngLatLike` object. The only issue is that an error message in shown in the developer console – ‘you are passing an object, but an array is expected’, etc.

An array with two numbers, longitude and latitude, is also a valid value for `LngLatLike` object. See the sou

[2021-05-25 16:00] karol-bujacek commented on #378
@Maker-Mark, you’ve motivated me to check the code and take a deeper look into a console in my browser (Firefox).

I am not seeing the message you’ve mentioned, but several other:

* This page appears to be missing CSS declarations for Mapbox GL JS, which may cause the map to display incorrectly. Please ensure your page includes mapbox-gl.css, as described in https://www.mapbox.com/mapbox-gl-js/ap

[2021-05-26 00:55] Maker-Mark commented on #383
@karol-bujacek Ahh you're right. We just need to expect a lat lon like type. Not sure where that would go in this repo.

[2021-06-18 12:15] adambergman commented on #378
+1 from me. I didn't get an error in my console on Chrome but I wasn't able to see the map until I imported the style sheet from v-mapbox.

I noticed if I did not import the styles from mapbox-gl, I would see a map but things weren't styled. When I imported the mapbox-gl stylesheet the map would disappear. After quite some time I finally found this issue and it pointed me to import the v-mapbox st

[2021-06-22 13:01] vinayakkulkarni commented on #379
Are you re–transpiling it in nuxt like some do with their libs like this? https://github.com/sansil/vt-notifications#using-the-library-in-nuxtjs

[2021-06-22 13:04] #378 closed

[2021-06-22 13:10] vinayakkulkarni commented on #332
If you store it as a reactive variable, Vue breaks it, you have to store it as a readonly or shallowReadonly variable or a non-reactive variable.

[2021-06-22 13:10] #332 closed

[2021-06-24 21:43] Maker-Mark commented on #379
@vinayakkulkarni Hi there!
Nope, but I think the issue is with the build process using Parcel 1.x. There are so many parcel 1.x build issues popping up!

[2021-06-24 23:29] Maker-Mark commented on #378
Thanks for addressing this!

[2021-07-06 15:29] jxlstudio commented on #290
Any thoughts or updates here? @deepak-geospoc

[2021-07-06 15:33] vinayakkulkarni commented on #290
I'll create a codesandbox which provides a workaround cause this is a bug within Mapbox itself ref: https://github.com/mapbox/mapbox-gl-js/issues/4006#issue-201495669

[2021-07-10 13:00] iBobik commented on #331
I have similar problem with components removal (like if clearSource were false):

[code]

When a layer is once added it will never disappear on the map.

Is there at least some workaround how to hide it in the map based on computed data? Tried also v-show.

[2021-07-16 12:06] vinayakkulkarni commented on #290
https://codesandbox.io/s/v-mapbox-persist-geojson-layer-on-basemap-change-stqc5

[2021-07-16 12:06] #290 closed

[2021-08-04 16:21] bplmp opened #462 "@load only firing after map interaction"
I'm on a Nuxt app (using [this strategy](https://github.com/geospoc/v-mapbox/issues/328#issuecomment-839552876)) using v-mapbox.

I'm using an `MglMap` component successfully, but the `@load` event only fires after I do some interaction with the map (pan, zoom).

I'm using these versions:

[code]

Any thought on what could be preventing the `@load` event to fire?

[2021-08-04 17:06] InhyeLee-Data opened #463 "Geojson layer not clearing (Removal Not noticing)"
Hi! I'm on a nuxt app with a vue-mapbox wrapper.

[code]

One interesting issue I have right now is that a geojson layer that is removed in code still pertains to exist in the rendered page.

This is the scenario.
1. I have one <MglGeojsonLayer> component that is supposed to display one layer at a time.  (let's say one circle)
2. I click on a button to change the layer into a different one.
3. In

[2021-09-23 06:29] vinayakkulkarni opened #521 "refactor: use Vue Composition API"
- [ ] Make correct use of `@vue/composition-api` to ensure we replace it with `vue@next` in v3.x

[2021-09-23 06:31] vinayakkulkarni commented on #345
I have a resizer function which basically fixes this (but sadly it's kind of a workaround).

Will post a codesandbox solution in a bit.

[2021-09-23 06:35] vinayakkulkarni commented on #463
Hey @InhyeLee-Data, can you please create a fork of [this codesandbox](https://codesandbox.io/s/v-mapbox-map-demo-k1l1n?file=/src/App.vue) or [this codesandbox](https://codesandbox.io/s/v-mapbox-persist-geojson-layer-on-basemap-change-stqc5?file=/src/App.vue:60-63) & provide a reproducible example?

[2021-09-23 06:37] vinayakkulkarni commented on #331
Maybe [this codesandbox](https://codesandbox.io/s/v-mapbox-persist-geojson-layer-on-basemap-change-stqc5) can be of your help?

[2021-10-02 15:43] delebash opened #532 "Does this support vue3 and v2.5.0"
I wanted to make sure this works with Vue3 since there are significant changes from Vue2.  Ty

[2021-10-02 23:00] delebash opened #533 "Consider merging with the vue-mapbox-gl project"
Both of these projects are trying to accomplish the same thing using vue.  I think it would be much more beneficial to have more devs working on one project then split between two that accomplish the same goal. Just a thought. Ty

vue-mapbox-gl project https://github.com/studiometa/vue-mapbox-gl

[2021-10-14 16:17] lopan888 opened #547 "Pitch Controls"
Are pitch controls now disabled by default?  Right-clicking + movement does not change the pitch, only the rotation.  Also setting the pitch within the Mapbox parameters doesn't do anything either.  It worked before switching to this new maintained version of vue-mapbox.

[2021-10-22 02:44] lopan888 commented on #547
Has nobody else seen this issue?  It may not be an issue at all, but I don't see anything in the documentation about disabling/enabling pitch.

[2021-10-29 08:08] tmerten opened #558 "Issues upgrading from 1.7 to 1.8"
Hi there,

we did some version changes in a project and (I think) `v-mapbox` responded a little unexcepted. As version changes go, a lot of things were fiddled with and I hope I won't forget anything telling the story:

* It started by removing a depenency from a `vue 2.6` project and removing and rebuilding the `yarn.lock` file
  * the project was running `v-mapbox 1.7.x` and `mapbox-gl 2.2.x` wi

[2021-11-10 11:16] #558 closed

[2021-11-15 17:59] allanlewis opened #586 "Compatibility with Node 12/14?"
I am using Node 12 LTS, which is supported until next year, and I get this message when installing this package:

[code]

Would it be possible to add support for Node 12? Or at least Node 14? Upgrading my app to Node 16 is difficult due to other dependencies.

[2021-11-16 05:56] iBobik opened #590 "TypeError: this.templateRefs is undefined"
Map stopped working after upgrade to 1.9.0. Tried also in the clean project: https://codesandbox.io/s/sweet-bose-63182

Uncaught (in promise) TypeError: this.templateRefs is undefined
    _loadMap v-mapbox.esm.js:1291
    _loadMap v-mapbox.esm.js:1287
    promise callback*$_loadMap v-mapbox.esm.js:1285
    mounted v-mapbox.esm.js:1420
    VueJS 11
    <anonymous> main.js:6
    js app.js:1148
    _

[2021-11-17 19:40] AlJaMa commented on #590
I've found the same issues as @iBobik. It presents as `Missing required prop: "container"`.
Starting a new project with Vue2, this appears to occur with 1.9.0, 1.8.2, 1.8.1, 1.8.0.

Reverting to 1.7.3 the issue is no longer present.

Other relevant dependencies were held constant as v-mapbox was varied.
[code]

[2021-11-26 17:16] allanlewis commented on #586
I'm probably going to upgrade my app to Node 14 soon, so compatibility with that would be enough for me. Is there a reason why this package can't support Node 14?

[2021-12-21 04:21] bbbford opened #649 "Cannot read properties of undefined (reading 'container')"
Just loaded up a new project with v-mapbox, following the guide. The map does not render, and this error in console:

`Cannot read properties of undefined (reading 'container')`

![image](https://user-images.githubusercontent.com/5225875/146870522-e2ca7235-e55c-48e9-9f56-0493f0393a9f.png)

[2021-12-26 16:14] bbbford commented on #649
That was it, thanks @a21y!

[2021-12-26 16:14] #649 closed

[2021-12-27 13:58] iBobik commented on #60
My client has a will to contribute few hundreds Euros if there will be crowdfunding on Vue 3 support.

[2022-01-19 07:01] ConnorOnTheWeb opened #702 "Trouble getting started with Nuxt"
Fresh install, using nuxt with vuetify. Access token and mapStyle are set.

Tried this from #328

Added stylesheets on the page and globally

Not working for me. I'm getting 2 errors:

Also tried the example here: [Base map](https://v-mapbox.netlify.app/guide/basemap.html#adding-map-component)

Error I get is this

Not sure where to go or what to try from here.

[2022-01-19 07:38] vinayakkulkarni commented on #702
You have to wrap the <mgl-map> component in the [`<client-only>`](https://nuxtjs.org/docs/features/nuxt-components/#the-client-only-component) tag within the template.

Also, try disabling ssr in `nuxt.config.ts`:

[code]

[2022-01-19 07:46] ConnorOnTheWeb commented on #702
Tried both, it's not having it. No changes. This is what I've got on the page.

[code]

Noticed another error

`DevTools failed to load source map: Could not load content for http://localhost:3000/_nuxt/vendors/pages/map/v-mapbox.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE`

[2022-01-19 09:24] vinayakkulkarni commented on #702
https://codesandbox.io/s/v-mapbox-with-nuxt-lbrt6?file=/pages/index.vue

^^ I just did a repro here, can you verify/validate it with your own nuxt app ?

[2022-01-19 18:29] ConnorOnTheWeb commented on #702
Not working for me. Same two errors: "Cannot read properties of undefined (reading 'container')" and "Could not load content". I'm using npm, instead of yarn, is it possible that's an issue?

Also, I need the site to be Server Side Rendered, just the map to be client only. Trying to figure out how to get it working that way.

[2022-01-20 17:01] ConnorOnTheWeb commented on #702
Got it! (well, almost)

It works in SSR with Nuxt 2 importing the Nuxt Composition API, that was the missing link.

Problem now is that I decided to make the switch to Nuxt Bridge (if possible) and now it doesn't work.

[2022-01-21 03:09] ConnorOnTheWeb opened #713 "Clustering markers on the map"
Clustering with v-mapbox

If I'm working with a lot of pins, I'd like to cluster the pins like this (from gmaps):

![Screenshot_20220120_190612](https://user-images.githubusercontent.com/28314904/150458703-04d7c8f0-e3ea-4f97-b33d-25e78e87d5c4.png)

Link to [Mapbox Cluster page](https://docs.mapbox.com/mapbox-gl-js/example/cluster/)

Is this a feature we have on hand with v-mapbox, or is there a go

[2022-01-21 06:13] vinayakkulkarni commented on #713
You can do this via the geojson-layer w.r.t. this example – https://docs.mapbox.com/mapbox-gl-js/example/cluster/

[2022-01-21 06:16] vinayakkulkarni commented on #702
@ConnorOnTheWeb: I'm completely refactoring the code to with Vue 3 as base & support for Vue 2 via [`vue-demi`](https://github.com/vueuse/vue-demi), currently it lies in the [directory](https://github.com/geoql/expenses/tree/dev/lib/v-mapbox) of another repo, but I am making progress (mostly over the weekend(s) & later in the day off work) surely but (unfortunately) slowly. I still have to researc

[2022-01-21 06:57] ConnorOnTheWeb commented on #702
@vinayakkulkarni I appreciate your work here. I've made v-mapbox load in a satisfactory way, with SSR using Nuxt 2 and the Nuxt Composition API, now just a couple more details continued in the next thread #713

[2022-01-21 06:57] #702 closed

[2022-01-21 07:11] ConnorOnTheWeb commented on #713
Thank you, we're a step closer. I see the MglGeojsonLayer component in v-mapbox.

How do I translate the vanilla js example from the Mapbox docs to the format that works with vue and v-mapbox? Where do I input the array that I have working with the Markers and how to handle popups?

[2022-01-26 20:56] martinbe1io opened #724 "Problem including v-mapbox in normal javascript"
hi all,

I try to use it in a normal webpage, initial way I tried to include was this

[code]

when I try to use MglMap I get this result

[code]

I even tried to use

[code]

result is

[code]

I'm not familiar with all this javascript package management stuff, can somebody please give me a hint how to include it in the correct way? Different Components in my page work as expected.

thx a lot Mar

[2022-01-29 02:09] ConnorOnTheWeb commented on #214
Did you ever figure it out?

Looking to use custom icons with v-mapbox markers right now

[2022-01-29 02:22] ConnorOnTheWeb opened #731 "Performance/ speed with many pins"
Is there anything we can do to speed up our mapbox instance when plotting many pins?

I've got over 2000 pins on this map I'm working on and it's running pretty slow right now. This issue is in both loading and usage, takes a couple seconds to change zoom and open popups.

Template

`
<client-only>
  <MglMap :mapbox-gl="mapboxgl" :accessToken="accessToken" :mapStyle="mapStyle" :center="centerPoint

[2022-01-29 07:52] ConnorOnTheWeb commented on #713
I've got clustering working, from this vanilla js example [https://codepen.io/pen/?editors=0010](https://codepen.io/pen/?editors=0010)

Looks perfect! Only thing I'm hung up on now is **adding the events**

This is the vanilla js code for the events:

[code]

I don't see how to add these events to the map in the v-mapbox documentation.

This is my MglGeojsonLayer component:

[code]

I'm thinking I

[2022-02-18 12:37] #724 closed

[2022-02-24 19:45] #66 closed

[2022-02-24 19:46] vinayakkulkarni opened #792 "fix: typescript issue in v3.x"
- [ ] Fix the d.ts for `v-mapbox` in version 3.x.x

[2022-03-13 22:22] RobsonMi opened #817 "Is current next branch working on Vue 3?"
Hi,

is current next branch working on Vue 3? Is there any example how to get it to work?

Kindly

[2022-04-07 10:59] vinayakkulkarni opened #854 "docs: update documentation on usage for Vue 3"
- [ ] Current documentation focuses on usage in Vue 2.x w/ composition-api, have to refactor the example(s) to make use of Vue 3 / Nuxt 3

[2022-04-07 11:00] vinayakkulkarni commented on #817
Yes, I have refactored the `main` branch to be compatible with Vue 3. Please checkout [this repo](https://github.com/geoql/expenses) til I work on #854

[2022-04-07 11:02] vinayakkulkarni commented on #590
You need to have `@vue/composition-api` as a devDep or dep when using `v-mapbox v1.x`

[2022-04-07 11:02] #590 closed

[2022-04-07 11:05] vinayakkulkarni commented on #214
You have a slot called as `marker` within the `<MglMarker><svg slot="marker">......</svg></MglMarker>`  for adding custom marker(s)

[2022-04-07 11:05] #214 closed

[2022-04-07 11:07] vinayakkulkarni commented on #60
That is really generous @iBobik, and I really appreciate this but I have been working & have pushed Vue 3 support in v3.x.
You can test it out by cloning [this repo](https://github.com/geoql/expenses) and testing it out yourself :)

Closing this as I have to work on the documentation bit so that we can have v3.1.x w/ correct guidance for users using Vue 3/ Nuxt 3

[2022-04-07 11:07] #60 closed

[2022-04-07 11:09] vinayakkulkarni commented on #586
I have removed the `engines` from `package.json` in version 3.x, should be able to support any Node version. but I recommend always update to current node version as per [.nvmrc](https://github.com/geospoc/v-mapbox/blob/main/.nvmrc)

[2022-04-07 11:09] #586 closed

[2022-04-07 11:10] vinayakkulkarni commented on #532
Further discussion of this in #817

[2022-04-07 11:10] #532 closed

[2022-04-07 11:25] vinayakkulkarni commented on #309
Should be fixed in https://github.com/geospoc/v-mapbox/commit/009ecf6788607730c6359e1df4443ad6c497b7fc

[2022-04-07 11:29] #309 closed

[2022-04-08 10:08] jasonhibbs commented on #817
When I run this in a fresh installation I get an error with `@vue/composition-api`

<details><summary>Error Details</summary>

[code]
</details>

[2022-04-09 22:55] liamb13 opened #857 "Map Marker - aria-label or additional attributes?"
Is it possible to change the aria-label for Map Markers?
It'd be great to set the aria-label to be more informative to a single point, rather than just 'Map Marker'.

On that note, is it possible to add other attributes to the markers?

[2022-04-10 23:26] AEiosApp commented on #817
Hi, what is the right way to install via npm?

I tried:
`npm install --save v-mapbox mapbox-gl`

But got bunch of errors require vue 2:
[code]

[2022-04-11 10:47] jasonhibbs commented on #817
I needed to install at 3.1.0:
[code]

[2022-04-12 07:10] jasonhibbs opened #866 "[3.1.0] Click on v-map fires MapMouseEvent and MouseEvent"
When listening for a click on the map, I’m expecting the event to be `MapMouseEvent`, but `MouseEvent` also fires, and typescript complains that I cannot assign one to the other.

![Screenshot 2022-04-12 at 08 02 15](https://user-images.githubusercontent.com/919628/162901616-0b2d8a83-26d1-4a51-b7e2-cabb6e610748.png)

![Screenshot 2022-04-12 at 08 02 27](https://user-images.githubusercontent.com/91

[2022-04-12 15:21] liamb13 commented on #866
Does ```v-map @click.stop``` work for you?

[2022-04-12 15:26] liamb13 opened #871 "Working with Vuex Map"
I know the docs briefly touch on setting the map to Vuex store;
[code]
https://v-mapbox.geospoc.io/guide/basemap.html#map-loading

However, they don't mention how to load a map from the store?
I'm assuming this is relatively easier and I'm likely overthinking it.

[2022-04-12 15:31] jasonhibbs commented on #866
It would likely work on the second `MouseEvent`, but throws an error on the emitted `MapMouseEvent` because this doesn’t implement `stopPropagation` (which is expected)

![Screenshot 2022-04-12 at 16 25 44](https://user-images.githubusercontent.com/919628/162997784-5186f7e6-2823-4b15-bd50-4544e3b5f447.png)

[2022-04-12 15:35] jasonhibbs commented on #866
From [Vue docs](https://vuejs.org/guide/components/events.html#declaring-emitted-events) on `defineEmits`:

[2022-04-12 15:39] liamb13 commented on #866
This won't solve the issue itself, but it may help others offer guidance. What's the use case for the @click on v-map, and what's the secondary click used for?
Is it necessary in your use case to detect a top level click? (I'm assuming it likely is, to close a popup or similar?)

[2022-04-12 15:44] liamb13 opened #872 ".easeTo dynamic durations"
Not really an issue, more looking for some guidance as to handling this.

How would you handle dynamic durations for easeTo and flyTo?

I'm struggling to get it just right.

Ideally, if the map is zoomed out (0), it's speed should be slower, than if it's easing to the same level of zoom or close to (~4 to ~6).

[2022-04-12 15:47] jasonhibbs commented on #866
I have a workaround:

This is possible because mapbox already provides the native event as `originalEvent` in `MapMouseEvent` – if I needed the native event, I’d expect to use this.

Use case for @click is varied, but the expectation is that it would return the mapbox event only `MapMouseEvent`.

My best guess is that `VMap` isn’t using `defineEmits` which would deregister the native event and beh

[2022-05-03 15:36] UXandre opened #943 "Issue with using Marker in Vue 3"
Hi, first of all thank you maintaining the amazing package.
I managed to add the map in Vue 3 through composition API but have an issue when trying to add the marker.

When adding the marker, the whole component can't be resolved. Can't figure out why. I noticed there is a variation between the prop names used in the document and the ones actually used in the examples. Would it be the reason? If s

[2022-05-04 14:08] vinayakkulkarni commented on #943
Can you please create a repro ?

[2022-05-04 19:52] UXandre commented on #943
@vinayakkulkarni sure. Here goes the [codesandbox repro](https://codesandbox.io/s/v-mapbox-forked-by-andre-kgr9fc?file=/src/App.vue)

Thank you!

[2022-05-08 14:14] manualy commented on #943
I have a similar problem with the marker, it requires :options (can't find anything about them in the docs), also when I add a random option eq: color, the map doesn't load, everything works fine until I try to add the VMarker.

[2022-05-09 10:02] UXandre commented on #943
@vinayakkulkarni hope you had a wonderful weekend! Have you got a chance to look at the issue?

[2022-05-09 19:05] vinayakkulkarni commented on #943
Hey @UXandre, unfortunately I didn’t get a chance to review this last weekend but will take a look this week

[2022-05-10 07:52] UXandre commented on #943
@vinayakkulkarni sounds good and thank you so much!

[2022-05-12 08:49] vinayakkulkarni commented on #943
https://codesandbox.io/s/v-mapbox-w-marker-s-om6yys

I forked this and set up `v-mapbox` w/ marker, I'll check the events as well

[2022-05-13 08:10] UXandre commented on #943
@vinayakkulkarni thanks so much! By simply copy and pasting I managed to get the marker up and running. Will spend some time to digest the logic of the code later today. What `events` are you referring to?

[2022-05-18 18:09] jasonhibbs commented on #866
@vinayakkulkarni do you agree with my assessment?

[2022-05-23 09:29] uncle-samm opened #985 "question: How to make v=layer-deck-geojson reactive"
I have multiple geojson sources that arent all loaded at once. How can change the data of geojson-deck-layer reactively? I know it's getting updated but just not in the map.

[2022-05-24 07:58] vinayakkulkarni commented on #985
Can you please create a repro so I can help you out in resolving your question

[2022-06-09 17:50] iBobik opened #1028 "Wrong docs link"
Github repo has link to outdated docs:

<img width="338" alt="Snímek obrazovky 2022-06-09 v 19 50 04" src="https://user-images.githubusercontent.com/614232/172912024-72b5dd3c-7d1c-4e8a-842b-cdcda61a8d47.png">

[2022-06-09 22:37] iBobik commented on #1028
But also link in readme (v-mapbox.netlify.app) seems very inconsistent with the code. Even basic thinks like props of VMap, name of most of components (prefix Mgl vs. V, VMap, GLMap, …). Seems like from different project.

[2022-06-10 10:39] iBobik commented on #943
I am debugging this and have a question:

There are types imported like MarkerOptions and PopupOptions, but I does not see it in [mapbox-gl sources](https://github.com/mapbox/mapbox-gl-js) nor my intellisence. Where it goes from?

[2022-06-10 15:03] iBobik commented on #1028
Docs issue already filed: #854

[2022-06-16 15:04] jdseen opened #1045 "Clustering markers on the map via vuejs component"
Any idea how can I transform the example here https://docs.mapbox.com/mapbox-gl-js/example/cluster/ to the format that works with Vuejs component?

[2022-06-28 09:49] johnl6234 opened #1060 "@load not firing"
The map loads fine but nothing fires from @load

console
[code]

[code]

[2022-07-01 10:50] oripka commented on #1060
I'm having the same issue.

[2022-07-07 08:29] vinayakkulkarni commented on #1060
Can you do a repro ?

[2022-07-07 10:16] #1045 closed

[2022-07-07 12:36] vinayakkulkarni commented on #1045
@jdseen:

- [x] Source code – https://github.com/vinayakkulkarni/cluster
- [x] Demo – https://vinayakkulkarni.github.io/cluster/

[2022-07-22 12:00] mrc-bsllt commented on #1060
Same issue me!

[2022-07-22 12:51] mrc-bsllt commented on #1060
this is a repro: https://stackblitz.com/edit/nuxt-starter-lig9bb?file=app.vue

[2022-07-22 12:51] mrc-bsllt commented on #1060
this is a repro: https://stackblitz.com/edit/nuxt-starter-lig9bb?file=app.vue

[2022-08-03 11:51] samydoesit opened #1133 "[Compatibility] vue 2.7.8"
Hello,
i am having a hard time upgrading this plugin.

Since v-mapbox 1.7.3 and vue 2.6.13 our markers are gone.
`TypeError: Cannot read properties of undefined (reading 'Marker')
    at a.mounted (v-mapbox.esm.js:1255:35)`

Since v-mapbox 1.11.3 and vue 2.7.8 i am getting these errors:
`TypeError: Cannot read properties of undefined (reading 'observable')
    at G (vue-composition-api.mjs:825:13)

[2022-08-04 08:54] timgoeller opened #1135 "Error: Could not resolve Map in Nuxt 3"
For some reason, the provide/inject of the Map seems to be broken in Nuxt 3. It might be, because `provide` is called in a `onMounted`-hook. This causes (for example) a `VControlFullscreen` inserted into the `VMap` to produce the error message in the title.

A temporary fix for me is to put a `ref` on the `VMap` and load the components once the ref is initialized, like so:

[code]

[2022-08-04 11:56] timgoeller commented on #214
How does this work with the new version?

[2022-08-26 12:17] PierreArn opened #1183 "How to add and load images to map"
Hi,
I'm using vue 3 and i'm trying to use v-mapbox on my projet.

I was wondering how i can put an icon-image with this package.

With mapbox-gl i did :

`
import boat from "../assets/mapbox/purse_seiner.png";

await map.loadImage(boat, (error, image) => {
      if (error) throw error;
      // add the image to the map style.
      map.addImage("boat", image);

var boatsMapLayers = {
      id: "bo

[2022-08-26 12:24] PierreArn commented on #1183
c bon wolla

[2022-08-26 12:24] #1183 closed

[2022-10-05 12:11] Buk1m commented on #1060
Docs seems to be totally outdated, use @loaded event instead.
[code]

[code]

[2022-10-06 13:56] stefangeorg commented on #463
I'm having the same issue:
`<template>
    <div class="modal show fade" tabindex="-1" role="dialog" v-if="files.length > 0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tell us about your files</h5>
                <button type="button" class="close" data-dismiss="modal" ar

[2022-10-08 15:40] marr opened #1251 "Injection key not exported"
I am trying to write a plugin, and would like to use the injected map instance. Looking through the source, I couldn't find the key exposed. Using `'map'` as the key does not work. Consider accepting the key as a prop, or publishing the key in the package.

[2022-10-11 06:57] vinayakkulkarni commented on #463
@stefangeorg can you please create a sandbox for better debugging ?

[2022-10-11 12:44] stefangeorg commented on #463
@vinayakkulkarni I'll try to setup one, but its relatively simple actually. There is no onUnmounted action. So if the VLayerMapboxGeojson is removed from the parent, the layers and source remain on the map eventhough the component is no longer there. We should cleanup on unMounted to remove the layer and source (or have an options to keep the source but remove the layer)

[2022-10-11 12:47] stefangeorg commented on #463
`
export default defineComponent({
  ...VLayerMapboxGeojson,
  ...{
    name: "GeoJSONLayer",
    extends: VLayerMapboxGeojson,
    props: {
      ...VLayerMapboxGeojson.props,
      ...{
        mapRef: {
          type: Object,
          required: true,
        },
      },
    },
    mounted() {},
    unmounted() {
      if (!this.mapRef) {
        return;
      }
      if (this.mapRef.getLayer(

[2022-11-06 10:31] kor3k opened #1293 "The setup binding property "templateRefs" is already declared (vuejs2 legacy version)"
hello, i can't get it working.

i am using

`"v-mapbox": "^1.11.2"`

like this

[code]

and i got this error

[code]

any idea what i am doing wrong?

[2022-11-07 02:36] joankuah commented on #871
Hello, I came across this issue and I'm also interested to know more on how we could use Vuex to store the event.map.
Based on the current docs it mentioned storing it to the state,

`this.$store.map = event.map;`

However, as far as I know, the only way to change a store's state is through committing mutations.

Would really appreciate if there are some examples that can be used as a reference or

[2022-11-28 12:09] shayneoneill commented on #1028
I'm fairly mystified by this component. Even a straight copy paste from the docs fails out complaining about needing an "options" thing.

This component LOOKS like its being maintained, but the docs suggest otherwise. Am I missing something here?